<h1>Listing barges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @barges.each do |barge| %>
  <tr>
    <td><%= barge.name %></td>
    <td><%= barge.description %></td>
    <td><%= link_to 'Show', barge %></td>
    <td><%= link_to 'Edit', edit_barge_path(barge) %></td>
    <td><%= link_to 'Destroy', barge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Barge', new_barge_path %>
